@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

[data-scroll-lock] .wrapper {
  margin-right: var(--scrollbar-compensation);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
