@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";


.post-update {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  &__field {

    textarea {
      width: 100%;
      padding: 12px 10px;
      line-height: 28px;
      font-size: 14px;
    }

    &--desc {

      textarea {
        width: 100%;
        min-height: 200px;
      }
    }
  }

  &__title {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px
  }
}
