@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.header {
  padding: 20px 0;
  margin-bottom: 40px;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
